@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <div class="col-md-2">
        <p><a class="btn btn-default" onclick="callGetAgreements()">Get agreements list</a></p>
    </div>
</div>

<div class="agreementsList" id="agreements" />